// First up: config
@import 'config';
@import '_utilities/low-specificity';

// Next: pull in gorko for design tokens
@import '../../../node_modules/gorko/gorko.scss';

// Pull in modern reset
@import '_base/reset';
@import url('https://use.fontawesome.com/releases/v5.8.1/css/all.css');


/*----------------------------------------
    # Media Queries
----------------------------------------*/
// Usage: @media only screen and (max-width: $large) { ... }
$large: 1300px;
$medium-large: 1100px;
$medium: 1000px;
$largeTablet: 920px;
$tablet: 767px;
$phablet: 575px;
$mobile: 480px;
$smallmobile: 375px;

// Global CSS starts
body {
  line-height: 1.5;
  overflow-x: hidden;
  padding-bottom: get-size('600');
  @include apply-utility('weight', 'medium');
  color: var(--primary);
}

// Base
@import '_base/typography';
@import '_base/grid';

// Utilities
@import '_utilities/radius';
@import '_utilities/visually-hidden';
@import '_utilities/table-group';

// Layout Partials
@import '_layout_partials/flow';
@import '_layout_partials/the_cluster';
@import '_layout_partials/sidebar';
@import '_layout_partials/stack';
@import '_layout_partials/box';
@import '_layout_partials/center';
@import '_layout_partials/the-frame';
@import '_layout_partials/splitter';
@import '_layout_partials/switcher';
@import '_layout_partials/cover';
@import '_layout_partials/reel';
@import '_layout_partials/wrapper';

// Blocks
@import '_layout_partials/button';
@import '_layouts/pill';
@import '_layouts/hero';
@import '_layouts/tabs';
@import '_layouts/map';
@import '_layouts/header';
@import '_layouts/footer';