// First up: config
@import 'config';
@import 'utilities/low-specificity';

// Next: pull in gorko for design tokens
@import '../../../node_modules/gorko/gorko.scss';

// Pull in modern reset
@import 'reset';
@import url('https://use.fontawesome.com/releases/v5.8.1/css/all.css');


/*----------------------------------------
    # Media Queries
----------------------------------------*/
// Usage: @media only screen and (max-width: $large) { ... }
$large: 1300px;
$medium-large: 1100px;
$medium: 1000px;
$largeTablet: 920px;
$tablet: 767px;
$phablet: 575px;
$mobile: 480px;
$smallmobile: 375px;

// Global CSS starts
body {
  line-height: 1.5;
  overflow-x: hidden;
  padding-bottom: get-size('600');
  @include apply-utility('weight', 'medium');
}


table {
  border-collapse: collapse;
}

th {
  text-align: left;
}

:focus {
  outline: 2px dotted;
  outline-offset: 0.25rem;
}
// Base
@import 'base/typography';
@import 'base/grid';

// Utilities
@import 'utilities/flow';
@import 'utilities/radius';
@import 'utilities/splitter';
@import 'utilities/wrapper';
@import 'utilities/visually-hidden';

// Blocks
@import 'blocks/button';
@import 'blocks/key-header';
@import 'blocks/pill';
@import 'blocks/site-head';
@import 'blocks/summary';
@import 'blocks/table-group';
@import 'blocks/user';
@import 'blocks/hero';
@import 'blocks/tabs';
@import 'blocks/map';
@import 'blocks/header';
@import 'blocks/footer';