// First up: config
@import 'config';

// Next: pull in gorko for design tokens
@import '../../../node_modules/gorko/gorko.scss';

// Pull in modern reset
@import '_base/reset';
@import url('https://use.fontawesome.com/releases/v5.8.1/css/all.css');


/*----------------------------------------
    # Media Queries
----------------------------------------*/
// Usage: @media only screen and (max-width: $large) { ... }
$large: 1300px;
$medium-large: 1100px;
$medium: 1000px;
$largeTablet: 920px;
$tablet: 767px;
$phablet: 575px;
$mobile: 480px;
$smallmobile: 375px;


// Base
@import '_base/typography';

// Layout Partials
@import '_layout-partials/button';
@import '_layout-partials/table-group';


// Layouts
@import '_layouts/hero';
@import '_layouts/tabs';
@import '_layouts/map';
@import '_layouts/header';
@import '_layouts/footer';