@import url('https://fonts.googleapis.com/css?family=Tinos:400,500,600,700,800&display=swap');

@font-face {
  font-family: 'leikoregular';
  src: url('./assets/fonts/leiko-regular-webfont.woff2') format('woff2'),
  url('./assets/fonts/leiko-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  line-height: 1.5;
  overflow-x: hidden;
  padding-bottom: var(--size-600);
  @include apply-utility('weight', 'medium');
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;
  margin-bottom: var(--size-400);
  font-family: $headings-font-family;
  font-weight: 100;
}

h1, .h1 {
  font-size: var(--size-900);
}

h2, .h2 {
  font-size: var(--size-800);
}

h3, .h3 {
  font-size: var(--size-700);
}

h4, .h4 {
  font-size: var(--size-600);
}

h5, .h5 {
  font-size: var(--size-500);
}

h6, .h6 {
  font-size: var(--size-300);
}

a {
  color: currentColor;
}

p {
  font-size: var(--size-400);
  margin-bottom: var(--size-400);
  font-family: $paragraph-font-family;
  font-weight: 100;

}

table {
  border-collapse: collapse;
}

th {
  text-align: left;
}

:focus {
  outline: 2px dotted;
  outline-offset: 0.25rem;
}
