footer {
  .grid {
    &:nth-child(1) {

    }

    &:nth-child(2) {
    }

    &.contact {
      border-top: 2px solid var(--primary);
      border-bottom: 2px solid var(--primary);
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-gap: 1rem;

      .block, .nav {
        h3 {

          a {

            &:hover {
              border-bottom: 1px solid var(--primary);
            }
          }
        }
      }

      .block {
        grid-column: auto/ span 1;

        p {
          font-size: 1rem;
        }
      }

      .nav {
        grid-column: auto/ span 1;

        ul {
          list-style: none;
          padding: 0;
          margin: 0;

          li {
            margin-bottom: 0.8rem;

            a {
              margin-top: 0;
              font-size: 1rem;
              color: var(--primary);

              &:hover {
                border-bottom: 1px solid var(--primary);
              }
            }
          }
        }
      }

      .social {
        grid-column: auto/ span 2;
        display: flex;
        justify-content: flex-end;

        a {
          color: var(--primary);
          margin: 0 1rem;

          &:hover {
            border-bottom: 1px solid var(--primary);
          }

          i {
            font-size: 2rem;
          }
        }

      }
    }

    &.strap-line {
      .block {
        p {
          font-size: 0.8rem;
          margin-bottom: 0;
        }
      }

      .nav {
        display: flex;
        justify-content: flex-end;

        a {
          margin: 0 1rem;
          font-size: 0.8rem;

          &:hover {
            border-bottom: 1px solid var(--primary);
          }

          &:nth-last-child(1) {
            margin-right: 0;
          }
        }
      }
    }
  }
}