.box {
  --border-thin: 1px;
  /* ↓ Padding set to the first point on the modular scale */
  padding: var(--size-500);
  /* ↓ Assumes you have a --border-thin var */
  border: var(--border-thin) solid;
  /* ↓ Always apply the transparent outline, for high contrast mode */
  outline: var(--border-thin) transparent;
  outline-offset: calc(var(--border-thin) * -1);
  color: var(--dark);
  background-color: var(--light);
}

.box * {
  /* ↓ Force colors to inherit from the parent
  and honor inversion (below) */
  color: inherit;
  &:nth-last-child(1):not(.button) {
    margin-bottom: 0;
  }
}

.box.invert {
  /* ↓ The color vars inverted */
  //color: var(--color-light);
  //background-color: var(--color-dark);
  color: var(--light);
  background-color: var(--primary);
}